/.github               export-ignore
.doctrine-project.json export-ignore
.gitattributes         export-ignore
.gitignore             export-ignore
phpunit.xml.dist       export-ignore
phpcs.xml.dist         export-ignore
psalm.xml.dist         export-ignore
/Resources/doc         export-ignore
/Tests                 export-ignore
