parameters:
   level: 5
   paths:
      - src
      - tests

   ignoreErrors:
    # phpstan has no array shape intersection support https://github.com/phpstan/phpstan/issues/12414
    - message: '#unresolvable type.#'
      path: src/DataCollector/DoctrineDataCollector.php
    # Probably needs Symfony plugin
    - message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\Node#'
      path: src/DependencyInjection/Configuration.php
