includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
   level: 7
   reportUnmatchedIgnoredErrors: true
   paths:
      - config
      - src
      - tests
   ignoreErrors:
      - identifier: 'class.notFound'
        path: src/DependencyInjection/Configuration.php
