<?xml version="1.0"?>
<psalm
    errorLevel="8"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <ignoreFiles>
            <directory name="vendor"/>
            <!-- Deprecated classes, not worth fixing -->
            <file name="Command/ImportMappingDoctrineCommand.php"/>
            <file name="DependencyInjection/Compiler/WellKnownSchemaFilterPass.php" />
        </ignoreFiles>
        <directory name="CacheWarmer"/>
        <directory name="Command"/>
        <directory name="Controller"/>
        <directory name="DataCollector"/>
        <directory name="Dbal"/>
        <directory name="DependencyInjection"/>
        <directory name="EventSubscriber"/>
        <directory name="Mapping"/>
        <directory name="Repository"/>
        <directory name="Tests"/>
        <directory name="Twig"/>
        <file name="ConnectionFactory.php"/>
        <file name="DoctrineBundle.php"/>
        <file name="ManagerConfigurator.php"/>
        <file name="Registry.php"/>
    </projectFiles>
</psalm>
