<?xml version="1.0"?>
<psalm
    errorLevel="4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
    <projectFiles>
        <ignoreFiles>
            <directory name="vendor"/>
            <!-- Deprecated classes, not worth fixing -->
            <file name="Command/ImportMappingDoctrineCommand.php"/>
            <file name="DependencyInjection/Compiler/WellKnownSchemaFilterPass.php"/>
        </ignoreFiles>
        <directory name="CacheWarmer"/>
        <directory name="Command"/>
        <directory name="Controller"/>
        <directory name="DataCollector"/>
        <directory name="Dbal"/>
        <directory name="DependencyInjection"/>
        <directory name="EventSubscriber"/>
        <directory name="Mapping"/>
        <directory name="Repository"/>
        <directory name="Tests"/>
        <directory name="Twig"/>
        <file name="ConnectionFactory.php"/>
        <file name="DoctrineBundle.php"/>
        <file name="ManagerConfigurator.php"/>
        <file name="Registry.php"/>
    </projectFiles>
    <issueHandlers>
        <InvalidArrayOffset>
            <errorLevel type="suppress">
                <!-- requires a release of https://github.com/doctrine/dbal/pull/5261 -->
                <file name="Tests/ConnectionFactoryTest.php"/>
            </errorLevel>
        </InvalidArrayOffset>
        <UndefinedClass>
            <errorLevel type="suppress">
                <!-- We use the "Foo" namespace in unit tests. We are aware that those classes don't exist. -->
                <referencedClass name="Foo\*"/>
            </errorLevel>
        </UndefinedClass>
        <UndefinedDocblockClass>
            <errorLevel type="suppress">
                <!-- https://github.com/symfony/symfony/issues/45609 -->
                <referencedClass name="UnitEnum" />
                <directory name="DependencyInjection"/>
                <directory name="Tests/DependencyInjection"/>
            </errorLevel>
        </UndefinedDocblockClass>
    </issueHandlers>
</psalm>
